/* Table of Contents:
    Home Section
    Skills Section
    Works Section
    Contact Section
    Overwriting Page Piling.js
    GitHub Corner
    Responsive Breakpoints
 * --------------------------------------- */

h1,
h2,
h3,
button,
label {
    font-family: 'Raleway', sans-serif;
    color: #e84855;
}

p,
li,
i {
    font-family: 'Lato', sans-serif;
    color: #7a7a7a;
}

a,
a:focus,
a:hover,
a:active {
    color: #e84855;
}

b,
label {
    color: #fff;
}

label {
    width: 100px;
    height: 38px;
    padding: 7px 10px 7px 10px;
    margin: 10px;
    border-left: 2px solid #e84855;
    border-radius: .25rem
}

button {
    background: transparent;
    padding: 10px 0 10px 0;
    border: 2px solid #e84855;
    transition: background-color 0.5s ease-out;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
}

button:hover {
    background: #e84855;
    color: #fff;
}

.btn-wide {
    width: 250px;
}

.btn-skinny {
    width: 150px;
}

.section {
    padding: 10px 50px 0 150px;
}

.i-red {
    color: #e84855;
}

#rotate {
    display: none;
}


/* Home Section
 * --------------------------------------- */

.img-cover {
    width: 250px;
    box-shadow: 0 4px 8px 0 #00000040, 0 6px 20px 0 #0000001e;
}
.social-media-buttons {
    margin-top: 30px;
}

.social-media-buttons>a {
    margin: 10px;
    text-decoration: none;
}

.social-media-buttons>a>i:hover {
    color: #e84855;
}

#cta {
    display: flex;
    flex-direction: column;
    gap: 4px;
}


/* Skills Section
 * --------------------------------------- */

#skills-left {
    color: #fff;
}

.skills-item {
    margin: 50px 0 5px 0;
}

.skills-item-head {
    margin: 5px 5px 5px 0;
    border-left: 6px solid #e84855;
    padding-left: 10px;
}

.skills-item-body {
    padding-left: 20px;
}


/* Works Section
 * --------------------------------------- */

figure>img {
    width: 100%;
}

figure {
    margin: 0;
    padding: 0;
    height: 400px;
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
}

figure:hover figcaption {
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    opacity: 1;
    top: 0;
}

figcaption {
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.856);
    color: #fff;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -o-transition-delay: .5s;
    -ms-transition-delay: .5s;
    transition-delay: .5s;
}

figcaption h3 {
    color: #e84855;
    margin: 20px 0 20px 20px;
}

figcaption p {
    padding: 0 20px;
    color: #fff;
}

figcaption a {
    color: #fff;
    border: 2px solid #fff;
    padding: 4px 10px;
    margin-left: 20px;
    text-decoration: none !important;
}

figcaption a:hover {
    color: #4f5856;
    background: #fff;
}


/* Contact Section
 * --------------------------------------- */

.form-control {
    margin: 10px 0 10px 0;
    background: transparent;
    color: #7a7a7a;
    border-color: #7a7a7a;
}

.form-control:focus {
    background: transparent;
    border-color: #fff;
    box-shadow: none;
    color: #fff;
}


/* Overwriting Page Piling.js
* --------------------------------------- */

#pp-nav li .active span,
.pp-slidesNav .active span {
    background: #e84855 !important;
}

#pp-nav span,
.pp-slidesNav span {
    border-color: #e84855 !important;
}


/* GitHub Corner
* --------------------------------------- */

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}


/* Responsive Breakpoints
* --------------------------------------- */


/* Small devices (landscape phones, 576px and up) */

@media (max-width: 576px) {
    #rotate {
        position: fixed;
        background: #252525 url(../img/rotate.png) no-repeat center;
        background-size: auto auto;
        background-size: 100% auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        display: block;
        opacity: 1 !important;
    }
}

@media (max-width: 800px) and (max-height: 500px) {
    #btnContact,
    #home .social-media-buttons,
    .skills-item,
    #contact-right>img,
    figcaption>p {
        display: none;
    }
    figure {
        height: 200px;
    }
    .display-4 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    p,
    button {
        font-size: 1rem;
    }
    #home img {
        width: 200px;
    }
}

@media (max-width: 1000px) {
    #contact-left {
        display: none;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (max-width: 992px) {
    figcaption>p {
        font-size: 0.8rem;
    }
}
